body{
    background-color: #513a7a;
}

#logo{
    display: block;
    color: #d4bbff;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
    margin-top: 20%;
}

#search{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 25px;
    padding: 1px, 87px, 1px, 52px;
    height: 45px;
}

.links{
    display: inline-block;
    
}

#profile-pic{
    float: right;
    margin-top: 10px;
    height: 30px;
    border-radius: 50%
}

.para{
    color: white;
    margin-right: 10px;
}
.top-right{
    position: absolute;
    right: 10px;
    top: 0;
}